/* import font */
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@600&display=swap');

* {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 600;
}

body {
  background: rgb(194,7,165);
  background: linear-gradient(90deg, rgba(194,7,165,1) 0%, rgba(13,41,175,1) 100%);
}

table {
  border-collapse: collapse;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  width: 100%;
  font-size: 14px;
}

table tr {
  height: 50px;
}

table thead tr {
  background-color: rgb(54, 48, 74);
  color: #fff;
}

table tbody tr {
  cursor: pointer;
}

table tbody tr:nth-child(2n) {
  background-color: rgb(245, 245, 245);
}

table tbody tr:hover {
  background-color: rgb(245, 245, 245);
}

span.sort {
  cursor: pointer;
}

li.page-nums {
  overflow-x: hidden;
}

li.page-nums ul {
  width: 225px;
  transition: transform .5s;
}

li.page-item {
  min-width: 45px;
  width: 45px;
  text-align: center;
}

li.page-item a {
  box-shadow: none !important;
}

li.page-nums li.page-item a {
  color: rgba(0, 0, 0, .6);
}

li.page-nums .page-item:first-child a {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

li.page-nums .page-item:last-child a {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}